{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - EduAssist</title>
    <link rel="stylesheet" href="{% static 'pos_app/css/register.css' %}">
</head>
<body>
    <div class="auth-container">
        <div class="logo-area">
            <h1 class="logo">Edu<span class="highlight-logo">Assist</span></h1> 
        </div>

        <h2 class="title">Get Started!</h2>
        <p class="subtitle">
            From Queries to Clarity – Instantly. Sign up to enjoy smoother services.
        </p>

        <form method="post" class="auth-form">
            {% csrf_token %}
            
            <input type="text" name="username" placeholder="Full Name" required
                value="{{ request.POST.username }}"
                class="{% if username_error %} input-error{% endif %}"
                id="full-name" >
            {# RENDER USERNAME ERROR INLINE #}
            {% if username_error %}
                <p class="message error-inline">{{ username_error }}</p>
            {% endif %}

            <input type="email" name="email" placeholder="Email Address" required
                value="{{ request.POST.email }}"
                class="{% if email_error %} input-error{% endif %}"
            >
            {# RENDER EMAIL ERROR INLINE #}
            {% if email_error %}
                <p class="message error-inline">{{ email_error }}</p>
            {% endif %}

            <input type="password" name="password" placeholder="Password" required
                class="{% if password_error or password2_error %} input-error{% endif %}"
            >
            <input type="password" name="password2" placeholder="Confirm Password" required
                class="{% if password_error or password2_error %} input-error{% endif %}"
            >
            {# RENDER PASSWORD/CONFIRM PASSWORD ERROR INLINE #}
            {% if password_error %}
                <p class="message error-inline">{{ password_error }}</p>
            {% elif password2_error %}
                <p class="message error-inline">{{ password2_error }}</p>
            {% endif %}
            
            <button type="submit" class="btn-primary">Sign Up</button>
        </form>

        <p class="login-link">Already have an account? <a href="{% url 'login' %}">Sign in here.</a></p>
    </div>
    
    <script>
        document.getElementById('full-name').oninput = function() {
            // Check if the input value contains any character that is NOT a letter or a space
            // Pattern /[^a-zA-Z\s]/
            if (this.value.match(/[^a-zA-Z\s]/)) {
                this.setCustomValidity('Full Name can only contain letters and spaces.');
            } else {
                this.setCustomValidity('');
            }
        };
    </script>
</body>
</html>