{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EduAssist App{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'pos_app/css/theme.css' %}">
    <script src="{% static 'pos_app/js/theme-cookie.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    {% block extra_css %}{% endblock %} 
</head>
{% include 'include/header.html' %}
<body>
     

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block extra_js %}{% endblock %}
</body>
</html>